.tableWrapper {
  width: 2000px;
  overflow-x: scroll;
  margin-top: 26px;
  margin-left: 200px;
}
.infoTable {
  width: "100%";
  color: black;
}
.infoTableBody tbody tr table tr {
  height: 35px;
  text-align: center;
}

.infoTable tbody tr .month {
  width: 100px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .border {
  width: 100px;
  border-bottom: 2px solid black;
}
.infoTable table {
  width: 100%;
  text-align: center;
}

.infoTable table > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.infoTable tbody tr .breakfast {
  width: 100px;
  border-right: 1px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .launch {
  width: 100px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .dinner {
  width: 100px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .totalMeal {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .overAllMeal {
  width: 130px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}

.infoTable tbody tr .overAllMeal,
.infoTable tbody tr .totalShop,
.infoTable tbody tr .mealRate,
.infoTable tbody tr .totalBalance,
.infoTable tbody tr .overAllShop,
.infoTable tbody tr .restBalance,
.headingRemainingBalance,
.infoTable tbody tr .remainingBalance {
  text-align: center;
}
.infoTable tbody tr .totalDeposite {
  width: 130px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .totalShop {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .overAllShop {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .mealRate {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .borderConsume {
  width: 200px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .restBalance {
  width: 250px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}

.infoTable tbody tr .totalBalance {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .headingRemainingBalance {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .remainingBalance {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}

.fixedMonthAndName {
  position: fixed;
  left: 0;
  width: 200px;
  top: 0;
  background: white;
  color: black;
  /* border-right: 2px solid; */
  border-bottom: 2px solid;
  text-align: center;
}

.fixedMonthAndName .border {
  width: 100px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.fixedMonthAndName .border td {
  width: 100px;
  text-align: center;
}
.fixedMonthAndName .month {
  width: 100px;
  /* border-right: 1px solid black; */
}
.bodyMonthAndName {
  position: fixed;
  left: 0;
  top: 26px;
  width: 200px;
  /* bottom: 0; */
  overflow: scroll;
  /* border-right: 2px solid; */
  /* border-bottom: 2px solid black; */
  background: white;
}
.bodyMonthAndName table tr {
  height: 34px;
}
.bodyMonthAndName .border {
  width: 100px;
  border-right: 1px solid black;
}
.customTableHeaderWrapper {
  position: fixed;
  left: 200px;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow-x: scroll;
}

.customTableHeaderWrapper .infoTable {
  width: 2000px;
}
