.tableWrapper {
  position: fixed;
  top: 150px;
  /* width: 1941px; */
  /* display: none; */
  overflow-x: scroll;
  left: 26%;
  right: 11%;
  bottom: 0;
  background: red;
  font-weight: 600;
  height: 200px;
  overflow: scroll;
  /* display: none; */
  border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  .tableWrapper {
    left: 150px;
    right: 0;
  }
}
.tableWrapper table {
  width: 1941px;
  /* background: red; */
}
.infoTable {
  /* position:fixed */
  color: black;
  height: 40px;
  font-weight: 600;
  font-size: 1rem;
  /* display: none; */
}
.infoTableBody tbody tr table tr {
  height: 50px;
  text-align: center;
  /* display: none; */
}

.infoTable tbody tr .month {
  width: 100px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .border {
  width: 100px;
  border-bottom: 2px solid black;
}
.infoTable table {
  width: 100%;
  text-align: center;
}

.infoTable table > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.infoTable tbody tr .breakfast {
  width: 100px;
  border-right: 1px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .launch {
  width: 100px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .dinner {
  width: 100px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .totalMeal {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .overAllMeal {
  width: 130px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
/* 750 */
.infoTable tbody tr .overAllMeal,
.infoTable tbody tr .totalShop,
.infoTable tbody tr .totalExtraShop,
.infoTable tbody tr .mealRate,
.infoTable tbody tr .totalBalance,
.infoTable tbody tr .overAllShop,
.infoTable tbody tr .restBalance,
.headingRemainingBalance,
.infoTable tbody tr .remainingBalance {
  text-align: center;
}
.infoTable tbody tr .totalDeposite {
  width: 130px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .totalShop {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
/* 1000 above */
.infoTable tbody tr .totalExtraShop {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .overAllShop {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
/* 1270 */
.infoTable tbody tr .mealRate {
  width: 120px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .borderConsume {
  width: 200px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .restBalance {
  width: 250px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
/* 1840 above */
.infoTable tbody tr .totalBalance {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
.infoTable tbody tr .headingRemainingBalance {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}
/* 2140 */
.infoTable tbody tr .remainingBalance {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}

.fixedMonthAndName {
  position: fixed;
  left: 11%;
  width: 15%;
  top: 100px;
  background: white;
  color: black;
  height: 50px;
  /* border-right: 2px solid; */
  border-bottom: 2px solid;
  text-align: center;
  font-weight: 600;
  z-index: 1000;
  border-top-left-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  .fixedMonthAndName {
    width: 150px;
    left: 0;
  }
}

.fixedMonthAndName .border {
  width: 100px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 50px;
}
.fixedMonthAndName .border td {
  width: 100px;
  text-align: center;
}
.fixedMonthAndName .month {
  width: 100px;
  /* border-right: 1px solid black; */
}
.bodyMonthAndName {
  position: fixed;
  width: 15%;
  /* display: none; */
  left: 11%;
  height: 200px;
  bottom: 0;
  top: 150px;
  font-weight: 600;
  /* bottom: 0; */
  overflow: scroll;
  /* border-right: 2px solid; */
  /* border-bottom: 2px solid black; */
  background: white;
  border-bottom-left-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  .bodyMonthAndName {
    width: 150px;
    left: 0;
  }
}
.bodyMonthAndName .border {
  width: 100px;
  border-right: 1px solid black;
}
.customTableHeaderWrapper {
  position: fixed;
  /* left: 200px; */
  right: 0;
  top: 100px;
  left: 26%;
  right: 11%;
  /* display: none; */
  border-top-right-radius: 10px;
  /* z-index: 1000; */
  overflow: scroll;
}

@media only screen and (max-width: 1000px) {
  .customTableHeaderWrapper {
    left: 150px;
    right: 0;
  }
}
.customTableHeaderWrapper .infoTable {
  width: 1941px;
  /* background: red; */
}

.calculationBody {
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  /* display: none; */
  border-bottom-right-radius: 10px;
  /* overflow: hidden; */
}
