.wrapper {
  width: 100%;
  margin-left: 11%;
  height: 100%;
  display: flex;
  position: relative;
  /* flex-direction: row; */
  align-items: center;
  gap: 30px;
  padding: 10px 0;
}

@media (max-width: 1000px) {
  .wrapper {
    justify-content: space-between;
    padding: "0 10px";
    margin-left: 0;
  }
}
.wrapper .filterDate {
  border-radius: 10px;
  display: inline-block;
}
.saveBtn {
  justify-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
