.navbarWrapper {
  height: 40px;
  background: green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.wrapper {
  display: flex;
}
.wrapper .brand {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.wrapper > .btnDiv {
  margin-left: auto;
  margin-right: 10px;
  padding: 0 10px;
  height: 40px;
  /* width: 120px; */
  display: flex;
  align-items: center;
  position: relative;
  gap: 2px;
  cursor: pointer;
  user-select: none;
}

.drowdownWrapper::after {
  content: "";
  position: absolute;
  top: -10%;
  right: 45px;
  transform: translateY(-50%) rotate(180deg);

  border: 20px solid transparent;
  border-top-color: #fff;
}
